.env
node_modules

# Docker secrets
secrets/*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.venv/Lib/

# Docker volumes and overrides
postgres_data/
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Source websites
TW.org/*
GrokTW/plugins/*
GrokTW/tiddlers/*
!GrokTW/tiddlers/$__config_SyncSystemTiddlersFromServer.tid
!GrokTW/tiddlers/$__config_Server_AllowAllExternalFilters.tid
DevTW/*

